$primary-color: #007bff;
$header-background-color: #F8F9FA;
$background-color: #d2e8ff;
$secondary-color: #f3c0ca;    
$text-color: #333;            
$font-family: Arial, sans-serif;
$shadow-color: #e4e4e4;